/* For general responsiveness */
@media screen and (max-width: 480px) {
    

}
/* For iPhone 5 and 6/7/8 in portrait mode */
@media screen and (max-width: 375px) {

}
@media screen and (max-width: 768px) {
    .login-main-content {
        background: linear-gradient(90deg,
                rgba(115, 171, 179, 0.55) 64.95%,
                rgba(115, 171, 179, 0) 100%),
            url(../img/login-background.png);
        object-fit: cover;
        /* width: 100%; */
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
        .login-form {
            width: 337px !important;
            height: auto !important;
            background: #fff;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
        }
    }
}

@media screen and (max-width: 1024px) {

}

/* -----------------------for tablet-------------------------- */
/* For tablets in portrait mode */
@media screen and (min-width: 768px) and (max-width: 1024px) {
   
}

/* For tablets in landscape mode */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   
}

/* ----------------------for high dpi -------------------------*/
/* For devices with high pixel density (Retina displays, etc.) */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
   
}

/* ----------------------for print screen---------------------- */
/* For print styles */
@media print {
   
}
/* -----------------------for bowser----------------------------- */
/* For Firefox browsers */
@-moz-document url-prefix() {
    /* Styles for Firefox */
}

/* For Microsoft Edge */
@supports (-ms-ime-align: auto) {
    /* Styles for Microsoft Edge */
}

 
  