@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    box-sizing: border-box;
}
input:focus-visible{
    outline: 0;
}
a{
    outline: 0;
}
.header {
  border: 1px solid #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  
}
.mid-heading{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold !important;
    font-size: 17px !important;
}
.brand_logo{
    
    /*padding: 10px 10px;*/
    text-align: center;
}
.billing-details{
    display: flex !important;
}
.position-relative{
    position:relative;
}

#loader {
  position: absolute;
  left: 52%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display:none;
}

#term_cond_link{
   font-size:12px; 
}

.link_cond{
    text-decoration:none !important;
}

.margin-right-5{
    margin-right:5px !important;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.main-heading{
    color: #000;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
}
.main-content p{
font-size: 16px;
font-weight: 400;
}
.home-content {
    width: 100%;
    max-width: 635px;
    /* display: flex; */
}
.home-content label{
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
}
.other-option{

    border: 0px;
    border-bottom: 1px solid;
}
.payment_details{
    width: 100%;
    max-width: 627px; 
    margin-top: 30px;
    margin-bottom: 100px;
}
.toggle_btn{
    padding: 12px;
}
.toggle_btn a{
    font-size: 16px;
    font-weight: 500;
    color: gray;
    text-decoration: none;
}
.card-form__button{
    width: 100%;
    height: 45px;
    background: #2364d2;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
    font-family: "Source Sans Pro", sans-serif;
    box-shadow: 3px 10px 20px 0px rgb(35 100 210 / 30%);
    color: #fff;
    margin-top: 40px;
    cursor: pointer;
}
.tab2-btn{
    margin-top: 20px;

}
.panel-footer .card-form__button:hover{
    color:white;
    border: 1px solid#4dc1f1;
    background-color: #1496ce;
 
}
.form-group span img{
width: 90px;
position:absolute;
left: 80%;
top: 10px;

}

ul.nav.nav-tabs {
    border: none;
}



div#myTabContent {
    /* border: 1px solid #b8b6b6; */
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding:30px 50px;
    /*padding-top: 30px;*/
    
   
}
li.toggle_btn.active {
    /* border: 1px solid #b8b6b6; */
    border-bottom: none;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    
}

hr.horizontal-row {
    opacity: .58;
    color: #4fb5e4;
}
.card-input__input {
    width: 100%;
    height: 40px;
    /* border-radius: 5px; */
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    padding: 5px 10px;
    background: none;
    color: #1a3b5d;
    font-family: "Source Sans Pro", sans-serif;
    
}
.input-group {
    margin-bottom: 10px;
}
.card-details{
    margin-right: 20px;
}
.card-input__input:focus{
    box-shadow: 0px 10px 20px -13px rgb(32 56 117 / 35%);
    border-color: #3d9cff;
}
input#otheramount:focus-visible {
    outline: 0px;
    
}
input#otheramount:focus {
    border-color: #3d9cff;
}
.card-input__input:focus-visible {
    outline: 0px;
   
}

/* responsive media query*/

  @media screen and (min-width: 767px) {
    /*.form-group {*/
    /*    width: 500px;*/
    /*}*/
}
  @media screen and (max-width: 768px) {
     .card-form__button{
        width: 100%;
        height: 45px;
    }
  }
  @media screen and (max-width: 480px) {
    
    div#myTabContent {
        
        padding: 15px;
        
    }
   
    
  }
  @media screen and (max-width: 360px) {
    .form-group span img {
        width: 50px;
        
    }
    .other-option{
        width: 40%;
    }
    
  }
  @media screen and (max-width: 700px) {
    .form-group span img {
       
        left: 72%;
        top: 10px;
        
    }
    .home-content {
        padding:0 20px;
        display:block;
    }
    
    .other-option{
        width: 40%;
    }
    
    .billing-details{
        display: block !important;
    }
    
    .brand_logo img{
        width: 50% !important;
    }
    
    .social_contact a {
        font-size: 11px;
    }
    
      
  }
  @media screen and (min-width: 601px) {
    .card-form__button{
        width:500px;
        
    }
  }
  
  
  
  
  
  
  
  
  /*----------------------------------------------*/
  /*------------- success page css ---------------*/
  
  
  *{box-sizing: border-box;
}

.logo{
    text-align: center;
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}
.logo img{
    padding: 10px ;
}

.icon{
    text-align: center;
    
}
.icon img{
    width: 65px;
  
}
.icon h2{
    margin: 20px;
    color: #10c8b1;
    font-weight: 700;
}
.icon h2 span{
    color: #22d49a;
}
.row.content {
    /* margin: auto;
    width: 100%; */
    justify-content: center;
}
.form-content{
    text-align: justify;
}
.pyament-content{
    text-align: center;

}
p{
    font-size: 20px;
    font-weight: 500;
}
.horizontal-line{
    border: 2px solid #515151;
}
.footer-content{
    text-align: center;
    /* font-size: 15px; */
}
.footer-num{
    text-decoration: none;
    
}

/* media queries */
@media (max-width: 576px) {
    .footer-content{
        text-align: center;
        font-size: 15px;
    } 
    .icon img {
        width: 58px;
    }
    p{
        font-size: 18px;
        font-weight: 500;
    }
     .header{
/*display: -webkit-box;*/
/*display: -ms-flexbox;*/
/*display: flex;*/
/*-webkit-box-orient: vertical;*/
/*-webkit-box-direction: normal;*/
/*-ms-flex-direction: column;*/
/*flex-direction: column;*/
/*-webkit-box-align: center;*/
/*-ms-flex-align: center;*/
/*align-items: center;*/
/*-webkit-box-pack: center;*/
/*-ms-flex-pack: center;*/
/*justify-content: center;*/
height: 100vh;

} 
  
}
/* @media (min-width: 576px) {
   
    .header {
        
        margin-top: 80px;
    }
} */
@media (max-width:768px) {
    .footer-content{
        text-align: center;
        font-size: 15px;
    } 
    .icon img {
        width: 58px;
    }
    p{
        font-size: 18px;
        font-weight: 500;
    }

    .content{
        margin-top: 20px;
    }
   
    
        
}
@media (max-width: 768px){
.header{
/*display: -webkit-box;*/
/*display: -ms-flexbox;*/
/*display: flex;*/
/*-webkit-box-orient: vertical;*/
/*-webkit-box-direction: normal;*/
/*-ms-flex-direction: column;*/
/*flex-direction: column;*/
/*-webkit-box-align: center;*/
/*-ms-flex-align: center;*/
/*align-items: center;*/
/*-webkit-box-pack: center;*/
/*-ms-flex-pack: center;*/
/*justify-content: center;*/
height: 65vh;

}
}
@media (max-width: 480px){
    .header{
        /*display: -webkit-box;*/
        /*display: -ms-flexbox;*/
        /*display: flex;*/
        /*-webkit-box-orient: vertical;*/
        /*-webkit-box-direction: normal;*/
        /*-ms-flex-direction: column;*/
        /*flex-direction: column;*/
        /*-webkit-box-align: center;*/
        /*-ms-flex-align: center;*/
        /*align-items: center;*/
        /*-webkit-box-pack: center;*/
        /*-ms-flex-pack: center;*/
        /*justify-content: center;*/
        height: 60vh;
        
        }
}
@media (max-width:360px){
    .header{
        /*display: -webkit-box;*/
        /*display: -ms-flexbox;*/
        /*display: flex;*/
        /*-webkit-box-orient: vertical;*/
        /*-webkit-box-direction: normal;*/
        /*-ms-flex-direction: column;*/
        /*flex-direction: column;*/
        /*-webkit-box-align: center;*/
        /*-ms-flex-align: center;*/
        /*align-items: center;*/
        /*-webkit-box-pack: center;*/
        /*-ms-flex-pack: center;*/
        /*justify-content: center;*/
        height: 80vh;
        
        }
}
















/*css added by pk*/
.payment_details_login{
    width: 100%;
    max-width: 600px; 
    margin-top: 30px;
}


.payment_details_login .form-group {
    width: 100%;
}

.payment_details_login .card-form__button{
    width:100%;
}

.small_anchor{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.social_contact img {
        width: 18px;
    }
    
    
    
    
    
    
     /* css date:- 29/03/2023 */

  
  .form-border1 legend {
    padding-left: 2px !important;
    color:#1496ce;
    font-size: 20px !important;
    font-weight: 700;
   
    float: none !important; 
    width: 48% !important;
    padding: 0px;
    display: flex;
  }
  
 legend img{
    margin-right: 3px;
    margin-top: 6px;
    width: 25px;
    height: 20px;
 }
 .form-border1  {
    padding: 10px !important;
       margin-left: 2px;
       margin-right: 2px;
      padding-bottom: 93px !important;
       
       border: 1px solid #1496ce !important;
     }
 
  .form-border2  {
    padding: 10px !important;
       margin-left: 2px;
       margin-right: 2px;
      
       
       border: 1px solid #1496ce !important;
     }
     .form-border2  legend {
        padding-left: 2px !important;
        color: #1496ce;
        font-size: 20px !important;
        font-weight: 700;
       
        float: none !important; 
        width: 78% !important;
        padding: 0px;
        display: flex;
      }
.bank-card h6{
    color:#2364d2;
    font-size: 18px;
    font-weight:700;
}
.bank-card img{
    width: 25px;
    height: 20px;
}
.form-border2 p{
    font-size: 16px;
    color: #333;
    font-weight: 400;
    margin-bottom: 0;
}
.form-border2 .pay-schedule{
    color: #333;
    font-weight:400;
}
.form-border2 p a{
    font-size: 16px;
    text-decoration: none;
}
.pay-schedule a{
    color: #217fe4 !important;
    cursor: pointer;
}


/* .popup-schedule h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    color: #06D85F;
    margin: 80px 0;
  } */
  
  
 .pay-schedule .button {
    font-size: 1em;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
 
  
  .overlay {
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 25%;
    position: relative;
   
  }
  
  .popup h4 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    color: #333;
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .popup h6 {
    font-size: 15px;
    font-weight: 600;
    margin-top: 0;
    color: #333;
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 20px;
    text-align: center;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  /* .popup .close:hover {
    color: #06D85F;
  } */
  .popup .content {
      height: max-content;
    /*max-height: 30%;*/
    /*overflow: auto;*/
  }
  .popup-content p{
    padding-right: 40px;
  }
.upcoming-content p{
    padding-right: 40px;
  }
  .popup p{
    font-size: 14px;
    color: #6e6e6e;
    font-weight: 600;
  }

  .close-btn a{
    /*font-size: 20px;
    font-weight: 400;
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background-color:#1496ce;
    border: 1px solid;
    border-radius: 6px;*/
    padding: 4px 40px;

    height: 45px;
    background: #2364d2;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Source Sans Pro", sans-serif;
    box-shadow: 3px 10px 20px 0px rgb(35 100 210 / 30%);
    color: #fff;
    text-decoration: none;
  }
  .close-btn {
    text-align: center;
  }
.popup hr{
    margin: 0;
    width: 70%;
}

@media screen and (max-width: 600px){
    .form-border1 legend{
        font-size: 18px !important;
        width: 40% !important;
    }

    .form-border2 legend{
        font-size: 18px !important;
        width: 64% !important;
    }
    .box{
      width: 70%;
    }
    .popup{
      width: 90%;
    }
    .form-border form{
        margin-left: 15px;
    }
    .form-border2 {
        padding: 7px !important;
        /*margin-left: 18px;*/
        margin-top: 20px;
       
    }
  }

  @media screen and (max-width: 380px){
    .form-border1 legend{
        font-size: 18px !important;
        width: 42% !important;
    }

    .form-border2 legend{
        font-size: 18px !important;
        width: 65% !important;
    }
    .box{
      width: 70%;
    }
    .popup{
      width: 90%;
    }
    .form-border form{
        margin-left: 15px;
    }
    .form-border2 {
        padding: 7px !important;
        margin-left: 18px;
        
       
    }
  }


 .center-content{
    justify-content: center;
 }
  input#otheramount {
    /*font-size:x-small;*/
    width: 30%;
  }





  /* css of agreement page */
.agreement{
  padding: 10px;
}
  .agreement h4{
    color: #000;
    font-size: 10px;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0 auto;
  }
  .agreement p{
    color: #000;
    font-size: 9px;
    font-weight: 500;
    font-family: "Source Sans Pro", sans-serif;
  }
  .agreement-list li{
    color: #000;
    font-size: 9px;
    font-weight: 500;
    font-family: "Source Sans Pro", sans-serif;
    padding-bottom: 10px;
  }

.form-items input{
  font-size: 9px;
  border-bottom: 1px solid #1496ce;
  width:50%;
  border-top: none;
  border-left: none;
  border-right: none;
}
.form-items p{
  font-size: 9px;
  font-weight: 600;
}
.form-items input:hover{
  border-bottom: 1px solid #1496ce;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.form-items span{
  font-style: italic;
}
.form-items {
  border: 1px solid #fff;
  border-radius: 6px;

 
}
.form-items p{
  padding-bottom: 10px;
  margin: 0 auto;
}
.form-items input{
  padding-left: 10px;
  color: #000;
}
  .amount-text{
    text-decoration: underline;
    
  }
  .end-details h5{
    color: #000;
    font-size: 10px;
    font-weight: 400;
    font-family: "Source Sans Pro", sans-serif;
    margin: 0 auto;
   }
  .end-details p{
   color: #000;
   font-size: 9px;
   font-weight: 600;
   font-family: "Source Sans Pro", sans-serif; 
   margin: 5px auto;
  }
  .amount-border{
    border: 1px solid #1496ce;
    border-radius: 5px;
    padding: 9px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
  }
  #text-font{
    font-family: 'Shadows Into Light', cursive;
    font-size: 10px;
  }
  .amount-border input{
    border: none;
  
    font-size: 10px;
  }

  @media screen and (max-width: 480px){
    .agreement-list li{
  
      font-size: 9px;
    
    }
    .form-items p{
      font-size: 9px;
      
    }
    .form-items input{
      width:100%;
    }
    .end-details p{
      font-size: 9px;
     }
     .form-items input{
      font-size: 9px;
      width:100%;
      margin-top: 10px;
    }
    
     #text-font{
      
      font-size: 10px;
    }
}


.green{
    color:green !important;
}
.red{
    color:red !important;
}

.popup-scroll{
    overflow:scroll !important;
    height: 60vh !important;
}