/* @media (max-width: 786px){
    .popup-head {
        min-width: 456px;
        width: 364px;
        min-height: 150px;
        margin: 111px auto;
        background: #f3f3f3;
        position: relative;
         z-index: 103;
        padding: 43px 4px;
        border-radius: 5px;
        box-shadow: 0 2px 5px #000;
    }
   
 }  */